<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Preactivate"
        tools:targetApi="31">
        <activity
            android:name=".insider.profile.drawer.post.DependencyCategorySelectorActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.drawer.post.PostDependencyActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.drawer.NeedSupportActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.drawer.ReleaseDependencyActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.drawer.ReadDocumentationActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.drawer.ConnectLocalDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.drawer.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.connector.DeviceConnectorActivity"
            android:exported="false" />
        <activity
            android:name=".insider.posting.DependencyActivationStatusActivity"
            android:exported="false" />
        <activity
            android:name=".insider.posting.PostDependencyActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.CustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.BadgeActivity"
            android:exported="false" />
        <activity
            android:name=".insider.profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".insider.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".insider.DependencyDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".insider.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".insider.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".starting.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".starting.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>